body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#061524;
}

.container {
    background-color: #fff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recommendation {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pelicula {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px; /* agregar espacio entre la película y el resto del contenido */
}

.pelicula h2 {
  margin-top: 0;
}

.pelicula img {
   width: 200px;
   height: 300px;
   margin: 20px;
   border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.info p {
  margin-bottom: 10px;
  width: 80%; /* ancho del bloque de texto */
  /*margin: 0 auto; /* centrar el bloque de texto */
  text-align: justify; /* justificar el texto */
}

.info strong {
  font-weight: bold;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.rating p {
   margin-bottom: 10px;
}