body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color:#061524;*/
    background-image: url('../imagenes/Fondo.png');
}

.container {
    background-color: #fff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2b4ec0;
    color: white;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2b4ec0;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommendation {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
}

#tipoPelicula{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}