<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/iniciosesion.css') }}">
  
    
  
  <title>Información usuario </title>
</head>
<body>
  {% include 'header.html'%}
  <form action="/EditarDatosUsuario" method="POST">
    <section class="form-register">
       <h4>Datos de usuario</h4>
       <input class="controls" type="text" name="user_id" value="{{user_data['user_id']}}" readonly>
       <input class="controls" type="text" name="username" value="{{user_data['username']}}">
       <input class="controls" type="text" name="email" value="{{user_data['email']}}" >
       <input class="controls" type="text" name="contrasena" value="{{user_data['contrasena']}}" >


       <div class="botons">
			   <input type="submit" value="EditarDatos" />
       </div>
       <br>

       
        
    </section>
      
 </form>
  
 